# Node
node_modules/

# Astro
dist/
.astro/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Notes de déploiement locales
DEPLOIEMENT_OVH_LOCAL.md
deploy-ovh.ps1

TODO.md
image.png
